<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".xml_compose_migration.XmlComposeActivity"
            android:exported="false" />
        <activity
            android:name=".handle_permission.HandlePermissionActivity"
            android:exported="false" />
        <activity
            android:name=".nav_destination.NavDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".support_screen_sizes.SupportScreenSizesActivity"
            android:exported="false" />

        <activity android:name=".type_safe_navigation.TypeSafeNavigationActivity"
            android:exported="false"
            />

        <activity
            android:name=".deep_linking.DeepLinkActivity"
            android:exported="true" >
            <intent-filter android:autoVerify="true">
                <data android:host="namnpse.com"
                    android:scheme="https" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <intent-filter>
                <data android:host="namnpse.com"
                    android:scheme="http" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".edge_to_edge.EdgeToEdgeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deep_linking.DeepLinkSenderActivity"
            android:exported="false" />
        <activity
            android:name=".meal_screen.MealsActivity"
            android:exported="false" />
        <activity
            android:name=".core_ui.CoreUIActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".practice.components.NavigationActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose" />
    </application>

</manifest>